<div class="card">
    <div class="card-body">
        <!-- TODO - Create a chart here to visualize the past 2 years of sales by month-->
        <div class="title">
            <h2>Invoice Dashboard</h2>
        </div>
    <div class="dashboard-container">

        <!--Amount of sales per year visual-->
        <div class="">
            <canvas id="doughnutChart"></canvas>
        </div>

        <!--Bar Chart 2021 to 2022-->
        <div class="">
            <canvas id="barChart" width="" height=""></canvas>
        </div>
        
        <!--Sales Trend-->
        <div class="">
            <canvas id="lineChart" width="" height=""></canvas>
        </div>
    
    </div>
    </div>
</div>
